$abbreviations: (
  aes: "advanced encryption standard",
  alpn: "application layer protocol negotiation",
  anova: "analysis of variance",
  api: "application programming interface",
  arc: "atomic reference counting",
  ast: "abstract syntax tree",
  auc: "area under the curve",
  bc: "basic calculator",
  bss: "best subset selection",
  bwt: "burrows-wheeler transform",
  cqs: "command query seperation",
  cr: "carriage return",
  cv: "cross validation",
  db: "database",
  dbms: "database management system",
  dfa: "deterministic finite automaton",
  dpda: "deterministic pushdown automata",
  dsl: "domain specific language",
  gam: "generalized additive model",
  glm: "generalized linear model",
  gnu: "gnu is not unix",
  gpg: "gnu privacy guard",
  gpl: "general purpose language",
  hls: "hlsearch: highlight search",
  html: "hypertext markup language",
  http: "hypertext transfer protocol",
  ietf: "internet engineering task force",
  iqr: "inter quartile range",
  ip: "internet protocol",
  isdn: "integrated service for digital network",
  js: "javaScript",
  lda: "linear discriminant analysis",
  lf: "line feed",
  lm: "linear model",
  loocv: "leave one out cross validation",
  ls: "least squares",
  mcmc: "markov chain monte carlo",
  ms: "mean square",
  mse: "mean squared error",
  nfa: "non-deterministic finite automaton",
  npda: "non-deterministic pushdown automata",
  nn: "nearest neighbor",
  nna: "nearest neighbor averaging",
  oob: "out of bag",
  orm: "object relational mapping",
  ova: "one vs all",
  ovo: "one vs one",
  pca: "prinicipal component analysis",
  pda: "pushdown automata",
  pcr: "prinicipal component regression",
  pls: "partial least squares",
  rdbms: "relational database management system",
  rc: "reference counting",
  rct: "randomized controlled trail",
  rest: "representation state transfer",
  rf: "random forest",
  roc: "receiver operating characteristic",
  rse: "residual standard error",
  rss: "residual sum of squares",
  rv: "random variable",
  sd: "standard deviation",
  se: "standard error",
  sql: "structured query language",
  ss: "sum of squares",
  ssl: "secure sockets layer",
  sudo: "super user do",
  svm: "support vector machine",
  tcp: "transfer control protocol",
  tls: "transfer layer security",
  tss: "total sum of squares",
  udp: "user datagram protocol",
  xargs: "execute (as) arguments",
  xml: "extensible markup language"
);

@each $abbreviation, $expression in $abbreviations {
  abbr##{$abbreviation}:hover:after { content: $expression; }
}
