.column-flex-table {
  @media only screen and (min-width: 100px) {
    tr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    td {
      border: 0 solid;
      margin: 0 -1px -1px 0;
      position: relative;
      width: 100%;
    }
  }

  border-collapse: collapse;
  text-align: center;
  width: 100%;

  * { box-sizing: border-box; }

  td::before {
    color: $dim-grey;
    content: attr(title);
    display: block;
    font-family: "Avenir", "Helvetica", sans-serif;
    font-size: .45em;
    font-weight: bold;
    left: 0;
    text-transform: uppercase;
    top: 0;
  }

  &.compact td::before { position: absolute; }
}
