:lang(ja) { font-family: 'STKaiti', 'Hanzipen TC', 'Hannotate TC', 'Gujarati MT', 'Xingkai SC'; }

q:lang(ja) {
  quotes: '「' '」''『''』';

  &::before,
  &::after { color: $aqua-marine; }
}

span {
  &#onyomi { color: $brown } // 音読み
  &#kunyomi { color: $blue } // 訓読み

  &.correct-japanese { // 正解日本語
    @include large-font;
    color: $green;
    font-family: osaka, minchin;
  }
}


dl {
  &#onyomi-imports dt { color: $dark-red; } // 種類音読み

  dt#onyomi,
  dt#kunyomi { // 音読み
    @include midsize-font;
    color: $brown;
  }

  dd {
    &#wrong-reading { color: $light-grey; } // 違い読み
  }
}

dd#onpu::after {
  color: $gold;
  content: '〈'attr(title)'〉';
}

var {
  &.character { color: $gold; }
  &.entity { @include entity-color; }
  &.location { color: $light-sky-blue; }
  &.path { color: $cyan; }
  &.person { color: $medium-spring-green; }
}

dfn:lang(ja) {
  &::before {
    color: $orange;
    content: attr(word);
  }

  &.full::after { content: attr(title); }
  &.character {
    color: $yellow;
    &::after { color: $light-olive; }
  }

  &.entity {
    color: $green1;
    &::after { color: $green; }
  }

  &.location {
    color: $light-sky-blue;
    &::after { color: $steel-blue; }
  }

  &.person {
    color: $spring-green;
    &::after { color: $sea-green; }
  }
}

@each $name-class in character, location, person, entity {
  dfn.#{$name-class}:hover::after { content: '〔' attr(reading) '〕' attr(ja) '〈' attr(tag) '〉'; }
  dfn.#{$name-class}[reading=""]:hover::after { content: attr(ja) '〈' attr(tag) '〉'; }
}

#namae-writer dfn::after { 
  content: '〔' attr(reading) '〕';
  &:hover { content: ' ' attr(ja) '〈' attr(tag) '〉'; }
}

#hint dfn {
  &[ja=""]::after { content: attr(en); }
  &::before { content: ''; }
  &::after {
    color: $lawn-green;
    content: attr(ja);
  }
}

#writing-hint dfn {
  &::before { content: '〔' attr(reading) '〕'; }
  &::after {
    color: $lawn-green;
    content: attr(ja);
  }
}

#definitions-writer dfn::after { content: '〔' attr(reading) '〕' attr(ja); }
#definitions-writer dfn[reading='']::after { content: ' ' attr(ja); }

#eigo-writer dfn::after { content: ': ' attr(en); }
#chigai-writer dfn {
  &::after { color: $dark-cyan; }
  &::before { color: $dark-olive-grey; }
}

#reading-writer, #chigai-writer {
  dfn::after {
    content: if(attr(reading), '〔' attr(reading) '〕', '');
  }
}
