$words: (
  新しい: (あたらしい,null,null),
  新た: (あらた,null,null),
  改める: (あらためる,正しいかどうか詳しく調べて確かめる,"change; revise; reform"),
  有難う: (ありがとう,null,null),
  生かす: (いかす,生き返らせる,"spare a person's life; bring ((a person)) back to life, revive ((a person)); make use of; utilize"),
  行き成り: (いきなり,何の前触れもなく急に事が起きるさま。突然。知らせなしに。,"suddenly; all of a sudden; without (any) warning"),
  何時もながら: (いつもながら,常と変わらないさま。いつものことではあるが。毎度,"as always"),
  糸口1: (いとぐち,巻いてある糸の端。糸の先。,"the end of a thread"),
  糸口2: (いとぐち,きっかけ。手がかり。,"a lead; a clue"),
  隠蔽: (いんぺい,隠すこと,"hiding"),
  植え込む: (うえこむ,ある物を、他の物の中にしっかりとはめ入れる,"implanted"),
  牛1: (うし,null,"cow"),
  映る: (うつる,１鏡・水面などに反射して見える ２映像として見える,"be reflected; show (a TV-image)"),
  訴える: (うったえる,物事の善悪、正邪の判定を求めて裁判所などの機関に申し出る。,"appeal; sue; accuse"),
  腕前: (うでまえ,巧みに物事をなしうる能力や技術。手並み。技量。技能,"skill, ability, talent"),
  促す: (うながす,物事を早くするようにせきたてる；促進する；勧める,"stimulate; encourage"),
  噂: (うわさ,そこにいない人を話題にしてあれこれ話すこと。,"rumour"),
  援交: (えんこう,金銭の援助を伴う交際。主に未成年の女子が行う売春をいう俗語。,"compensated dating; prostitute"),
  甥: (おい,自分の兄弟・姉妹が生んだ男の子。,"nephew"),
  応じる1: (おうじる,呼びかけに返事をする。応答する。,"in answer to (your question); in response to (his call)"),
  応じる2: (おうじる,相手の働きかけに対応して行動を起こす。こたえる。従う,"consent; agree (to conditions); accept (an order or challenge); meet/satisfy (a demand)"),
  応じる3: (おうじる,物事の変化に合わせて、それにふさわしく対応する。適合する。「その場に―・じた処置」,"according to; in proportion to; depends on"),
  御疲れ様: (おつかれさま,相手の労苦をねぎらう意で用いる言葉。また、職場で、先に帰る人へのあいさつにも使う。「ご苦労様」は目上の人から目下の人に使うのに対し、「お疲れ様」は同僚、目上の人に対して使う。,"Cheers for good work"),
  追っ手: (おって,逃げていく者をつかまえるために追いかける人,"pursuer"),
  大人: (おとな,null,null),
  脅す: (おどす,相手を恐れさせる。脅迫する。おどかす。,"threaten"),
  同じ: (おなじ,同様。一緒,"same"),
  同じ穴のムジナ: (おなじあなのもじな,普通、悪事を働く同類の意味で使われる,"fellow rule-breaker (badger of the same hole)"),
  愚か: (おろか,頭の働きが鈍いさま。考えが足りないさま。,"foolish; silly; stupid"),
  親父: (おやじ,null,null),
  音楽: (おんがく,null,"music"),
  音声: (おんせい,テレビなどの音,"sound; a voice; speech"),
  快挙: (かいきょ,胸のすくような、すばらしい行為。痛快な行動。,"a splendid [heroic] achievement"),
  開催: (かいさい, 集会や催し物を開き行うこと,"holding (of an event), opening"),
  改造: (かいぞう,改装,"remodeling; reshuffle"),
  変える: (かえる,変化する,"change"),
  覚醒剤: (かくせいざい,例えばアンフェタミン,"Awakening Drug, stimulant (e.g. meth-, ampetamine)"),
  閣僚: (かくりょう,ミニスター,"minister"),
  過去: (かこ,前のこと,"past"),
  勝手: (かって,他人のことはかまわないで、自分だけに都合がよいように振る舞うこと。「そんな-は許さない」,"selfishness; own convenience"),
  可能性: (かのうせい,物事が実現できる見込み。,possibility),
  機会: (きかい,事をするのに最も都合のよい時機。ちょうどよい折。チャンス。,"a chance, an opportunity"),
  聞く: (きく,null,null),
  危険: (きけん,null,"danger"),
  寄生: (きせい,生物の寄生。(スル)人に頼って暮らすこと,"parasitism; (スル) be parasitic"),
  機銃: (きじゅう,機の銃,"machine gun"),
  決める: (きめる,null,null),
  教育: (きょういく,訓練；教えること,"education"),
  凶器: (きょうき,人を殺傷するために用いられる道具,"a (lethal) weapon"),
  強要: (きょうよう,無理に要求すること。無理やりさせようとすること。,"extortion; coercion; strong persuation"),
  謹慎: (きんしん,null,"penitence, discipline, house arrest"),
  謹慎処分: (null, "discipline罰",null),
  悔い改める: (くいあらためる,過去の過ちを反省して心がけを変える。,"repent; is sorry for"),
  空間: (くうかん,スペース；宇宙,null),
  繰り返す: (くりかえす,null,null),
  警戒: (けいかい,null,"warning, caution"),
  継続1: (けいぞく,そのまま続くこと,"continuation (of)"),
  継続2: (けいぞく,中断してはまた続くこと,"(〜に) continual(ly)"),
  結果: (けっか,null,"result; outcome"),
  県警: (けんけい,県の警察,"prefecture police"),
  健康: (けんこう,体の状態,"health"),
  請う: (こう,他人に、物を与えてくれるよう求める。訊く,"ask; inquire"),
  肯定: (こうてい,そうだと言うこと。認めりこと,"affirmation; acknowledgement"),
  国産: (こくさん,null,"domestic manifacturing"),
  告発: (こくはつ,悪事や不正を明らかにして、世間に知らせること。告訴。訴え,"a formal charge [accusation]((against))"),
  越す: (こす,来る,"come over (here to e.g. the hospital)"),
  骨頂: (こっちょう,程度がこれ以上ないこと。,"pinnacle"),
  子供: (こども,null,null),
  この間: (このかん,null,"during this time"),
  殺す: (ころす,null,null),
  今後: (こんご,null,"future"),
  学科: (がっか,科目。課程。,"department"),
  がっかり: (null, 元気を出せ・失望する様子, "disappointed"),
  疑惑: (ぎわく,疑い；ダウト,null),
  牛2: (ぎゅう,null,"cow"),
  愚: (ぐ,おろかなこと。ばかげたこと。,"folly; foolishness"),
  具体的: (ぐたいてき,はっきりとした実体を備えているさま。個々の事物に即しているさま。反：抽象的。,"concrete(ly)"),
  合計: (ごうけい,二つ以上の数値を合わせまとめること。,"the sum total; a total"),
  合法: (ごうほう,法規にかなっていること。適法。⇔不法。,"合法的: lawful; legal"),
  御苦労様: (ごくろうさま,「ご苦労様」は目上の人から目下の人に使うのに対し、「お疲れ様」は同僚、目上の人に対して使う。,"Keep up the good work"),
  御愁傷様: (ごしゅうしょうさま,身内を失った人に対するお悔やみの語。,"My condolences"),
  五人: (ごにん,null,null),
  最多: (さいた,一番大きい,"most"),
  最中: (さいちゅう,進行中のとき,"midst; in the middle of"),
  採用: (さいよう,適当であると思われる人物・意見・方法などを、とり上げて用いること。,"adoption; employment"),
  参加: (さんか,ある目的をもつ集まりに一員として加わり、行動をともにすること。,"participation"),
  成果: (せいか,あることをして得られたよい結果。,"Achievement"),
  請求書: (せいきゅうしょ,物品や代金の支払いなどを請求するために出す文書。,"invoice"),
  至急: (しきゅう,非常に急ぐこと,"urgent"),
  至急お越し: (null, 急いで来て, "come ASAP"),
  支配: (しはい,ある地域や組織に勢力・権力を及ぼして、自分の意のままに動かせる状態に置くこと。統治；統制；指図；管理,"rule; control; direction; management"),
  市民: (しみん,市の住民,"citizen"),
  死ぬ: (しぬ,null,"die"),
  しまう1: (null,保存する。片づける。閉める,"keep (e.g. your bankbook safe); put away/back (e.g. toys); close down (e.g. a store)"),
  しまう2: (null,完了する。強調的に。好ましくない結果を示して。,"to do something by accident; to finish completely"),
  報せる: (しらせる,他の人が知るようにする。知らせる,"report"),
  私立: (しりつ,null,"private (e.g. school or detective)"),
  借用: (しゃくよう,借りて使うこと。使うために借りること。,"borrowing; loan"),
  周囲: (しゅうい,もののまわり。ぐるり。また、周辺。,"surroundings"),
  収益: (しゅうえき,給料,"income"),
  償却: (しょうきゃく,借金などをすっかり返すこと。償還。払い戻し。減価償却,"repayment; depreciation"),
  小学生: (しょうがくせい,null,null),
  奨励: (しょうれい,ある事柄を、よいこととして、それをするように人に強く勧めること,"incentive"),
  職場: (しょくば,null,"work place"),
  処分: (しょぶん,null,"disposal"),
  所有者: (しょゆうしゃ,所有している人。所有権のある人。所有主。,"proprietary; relating to an owner or ownership"),
  真相: (しんそう,ある物事の真実のすがた。特に、事件などの、本当の事情・内容。,"truth; fact"),
  慎重な: (しんちょうな,注意深い・思慮深い・用心深い, "prudently, carefully"),
  術: (すべ,方法や道など,"a way; means"),
  即死: (そくし,事故などにあったその時点ですぐさま死ぬこと。「―状態」,"instant death"),
  其の度: (そのたび,ある事が行われたり、ある状況になったりすると、決まって生じるさま。その時々・その時その時・決まって・いつも,"whenever; each time"),
  そこで1: (null,それゆえ；ので・だから,"So then; that was why"),
  そこで2: (null,さて,"now, ..; Okay, .."),
  狙撃: (そげき,狙い撃ち,"sniping"),
  財宝: (ざいほう,宝物。富,"treasure(s); riches"),
  時間帯: (じかんたい,1日のうちの、ある時刻とある時刻との間の一定の時間,"time zone"),
  自供: (じきょう,警察官などの取り調べに対し、容疑者・犯人が自己の犯罪事実などを申し述べること,"confession"),
  自白: (じはく,自供；自首,"confession"),
  状況: (じょうきょう, 移り変わる物事の、その時々のありさま；状態；環境；,"situation, circumstances"),
  状態: (じょうたい,人や物事の、ある時点でのありさま。状況。,"state; condition"),
  女性: (じょせい,null,"female"),
  人事: (じんじ,社会などの中で、個人の身分の決定などに関する事柄,"personnel matters [affairs]"),
  ずつ: (null,等しい量の繰り返し「少しー元気を回復した」,"(one) by (one); (little) by (little)"),
  前係長: (ぜんかかりちょう, 前の係長, "previous chief"),
  続行: (ぞっこう,引き続いて行うこと。,"continue; resume"),
  揃い: (ぞろい,衣服の色や柄などが同じであること。一組。揃っていること。,"team; gathering"),
  ただし: (null,しかし。前述の事柄に対して、その条件や例外などを示す。,"but; however; given that; provided that"),
  態度: (たいど,null,"attitude"),
  逮捕: (たいほ,人の身体に直接力を加えて身柄を拘束すること。,"arrest; apprehension"),
  辿り着く: (たどりつく,尋ね求めながら、やっと目的地に行き着く。,"arrive at; work your way to"),
  単なる: (たんなる,それだけで、ほかに何も含まないさま。ただの。,"mere; simple"),
  地方: (ちほう,広い地域；中央に対して,"district; the country; the provinces"),
  地方分権: (ちほうぶんけん,中央集権を排し、統治権力を地方に分散させること。日本国憲法は地方自治を保障し、地方分権主義を採っている。反：中央集権。,"decentralization of power"),
  ちゃう: (null,"»ちまう»てしまう。\A壱）その動作・行為が完了する、すっかりその状態になる意を表す。\A弐）そのつもりでないのに、ある事態が実現する意を表す。","to do something by accident; to finish completely"),
  茶葉: (ちゃば,null,"tea leaves"),
  抽象的: (ちゅうしょうてき,頭の中だけで考えていて、具体性に欠けるさま。反：具体的,"abstract"),
  追従: (ついじゅう,あとにつき従うこと,"complience; follow"),
  通常: (つうじょう,特別でなく、普通の状態であること。普通,"usual; normal; general"),
  作る: (つくる,null,null),
  継ぐ: (つぐ,前の者のあとを受けて、その仕事・精神・地位などを引き続いて行う。続けてする。相続する。継承する。,"succeed; inherit; resume"),
  繋がる: (つながる,一緒にする,unite, be connected, be tied together),
  摘み: (つまみ,選び・取り,"picked"),
  強者: (つわもの,強い者。他にまさる力や権力をもつ者。「―の論理」反：弱者。,"a strong man"),
  強者揃い: (つわものぞろい,すごく強い,"incredibily skilled"),
  提供: (ていきょう,申し出。差し出し,"offer; provide"),
  敵: (てき,null,"enemy"),
  撤回: (てっかい,いったん提出・公示したものなどを、取り下げること,"withdrawal; retreat; reinstate"),
  手の施しようがない: (てのほどこしようがない,処置のしようがない,"beyond help; there's nothing that can be done"),
  搭載: (とうさい,機器・自動車などに、ある装備や機能を組み込むこと,"powered by; loading on board (e.g. missile on a boat)"),
  到着: (とうちゃく,目的地などに行きつくこと。到達。,"arrival"),
  登用: (とうよう,任命(昇進),"appointment"),
  解き放つ: (ときはなつ,つながっているものをほどいて別々にする。,"set free; let loose; unleash"),
  都内: (とない,null,null),
  取り敢えず1: (とりあえず,ほかのことはさしおいて、まず第一に。なにはさておき。何はさておき,"first of all"),
  取り敢えず2: (とりあえず,何する間もなく。すぐに。差し当たり。,"for the time being"),
  取り下げる: (とりさげる,null,null),
  取り調べ: (とりしらべ,尋問,"interrogation"),
  抱く: (だく,持つ,null),
  脱出: (だっしゅつ,危険な場所や好ましくない状態から抜け出すこと。,"an escape"),
  同様: (どうよう,同じであること,"same; like"),
  読書: (どくしょ,本を読むこと。,"reading"),
  内閣: (ないかく,カビネット,"cabinet"),
  半ば1: (なかば,壱：半分,"half"),
  半ば2: (なかば,弐：ある程度,"partly; in part; half; nearly"),
  半ば3: (なかば,参：真ん中あたり,"mid-;halfway"),
  ながら: (null,二つの動作・状態が並行して行われる意を表す。「ラジオを聞き―勉強する」,"as, while, although"),
  生茶: (なまちゃ,null,"raw tea"),
  抜く12: (ぬく,攻め落とす。,"take out; take down"),
  〜ほか: (null,に添えて,"in addition"),
  任務: (にんむ,ミッション,"mission; task"),
  によって: (null,〜に応じて,"depending on (school year), (sales) (changes)"),
  妬む: (ねたむ,他人が自分よりすぐれている状態をうらやましく思って憎む。ねたましく思う。そねむ。,"to be jealous/envious"),
  熱心: (ねっしん,ある物事に深く心を打ち込むこと。,"eagerness; enthusiasm; 〜な eager (about)/ enthusiastic (about); 〜に enthusiastically/ eagerly/ zealously;"),
  狙い: (ねらい,弓や鉄砲などで、目標に当てようとねらうこと。,"aim"),
  年度: (ねんど,暦年とは別に、事務などの便宜のために区分した1年の期間。,"year; school year"),
  野垂れ死にする: (のたれしにする,"die a dog's death","die a dog's death"),
  発見: (はっけん,見付かれ,"discovery"),
  引き離す: (ひきはなす,分ける・引っ張って離す。無理に離れさせる,"pull from (someone or something)"),
  被疑者: (ひぎしゃ,犯罪の嫌疑を受けて捜査の対象となっているが、起訴されていない者, "suspect"),
  表彰: (ひょうしょう,善行・功績などを人々の前に明らかにし、ほめたたえること。,"commendation; 表彰する：to award"),
  披露: (ひろう,手紙・文書などを開いて人に見せること。広く人に知らせること,"showcase, exhibition"),
  不正: (ふせい,正しくないこと。正義に反する。道義に反する。法律に反する。,"injustice; unjust; dishonest; unlawful; illegal"),
  普通: (ふつう,特に変わっていないこと。；通常,"usual; common"),
  不当: (ふとう,正当・適当でないこと,null),
  弊害: (へいがい,害になること。他に悪い影響を与える物事,null),
  変化: (へんか,変わり,"change"),
  放課後: (ほうかご,学校でその日の授業が終わったあと,"after school"),
  報告: (ほうこく,告げ知らせること。レポート。情報。,"report"),
  報酬: (ほうしゅう,労務または物の使用の対価として給付される金銭・物品など。報奨。給料。医師・弁護士などの,"reward; pay; compensation; (doctor or lawyer) fee"),
  方針: (ほうしん,方向；方策；計画；方位を示す磁石の針。磁針。,"course; policy; plan"),
  放題: (ほうだい,常軌を逸していること。自由勝手にふるまうこと。,"without reserve; as much as one likes; all-you-can-..."),
  捕捉: (ほそく,キャプチャー・つかむこと, "capture, seizure"),
  本部: (ほんぶ,null,"HQ"),
  売春: (ばいしゅん,女性が報酬を得ることを目的として不特定の相手と性交すること。売淫。売色。売笑。,"prostitution"),
  分権: (ぶんけん,権力を1か所に集中しないで、分散すること。「地方ー」反：集権。,"splitting"),
  文明: (ぶんめい,人知が進んで世の中が開け、精神的、物質的に生活が豊かになった状態。特に、宗教・道徳・学問・芸術などの精神的な文化に対して、技術・機械の発達や社会制度の整備などによる経済的・物質的文化をさす。；シビリゼーション,"civilization"),
  暴力: (ぼうりょく,null,null),
  暴力的: (ぼうりょくてき,null,null),
  普洱茶: (ぷーあるちゃ,null,"pu-erh tea"),
  貧しさ: (まずしさ,財産や金銭がとぼしく、生活が苦しい；乏しい；必要量に足りない,"poverty"),
  真に受ける: (まにうける,"take seriously","take seriously"),
  見事1: (みごと,すばらしいこと,"excellent; splendid; fine; supurb; admirable"),
  見事2: (みごと,完全に,"completely; proper; real"),
  見つかる: (みつかる,null,"be found"),
  民族: (みんぞく,言語・人種・文化・歴史的運命を共有し、同族意識によって結ばれた人々の集団,"nationality"),
  息子: (むすこ,null,null),
  申し訳: (もうしわけ,null,null),
  悠久: (ゆうきゅう,永遠,"eternity"),
  優秀: (ゆうしゅう,非常にすぐれていること,"excellence;superiority"),
  故に: (ゆえに,null,null),
  油断: (ゆだん,不注意である；警戒を怠る,"be careless, be off (one)'s guard, negligence"),
  要請: (ようせい,必要だとして、強く願い求めること。「会長就任をーする」,"request"),
  要素: (ようそ,あるものごとを成り立たせている基本的な内容や条件。成分。要因。,"elements"),
  様に1: (ように,〜に似て，同様に,"similar to; (light) as (a feather); likewise"),
  様に2: (ように,〜の通りに,"(I did) as (told)"),
  様に3: (ように,〜するために,"in order to; for the sake of; so that; as"),
  ような : (null,例示して,null),
  浪費癖: (ろうひぐせ,金銭をむだに使うくせ,"Extravagant spending habits"),
  六十代: (ろくじゅうだい,null,"sixties"),
  悪い: (わるい,"１ 人の行動・性質や事物の状態などが水準より劣っているさま。\A２ 人の行動・性質や事物の状態が、正邪・当否の判断基準に達していないさま。","bad"),
);

$japanese-names: (
  木村政彦: (きむら・まさひこ,熊本県出身の伝説柔道家,柔道家),
  牛島辰熊: (うしじま・たつくま,柔道史上最強を謳われる木村政彦の師匠として有名だ,柔道家),
  徳永靖: (とくなが・やすし,横浜港町署刑事課第四係・前係長,悪党・重犯罪捜査班),
  前島隆造: (まえじま・りゅうぞう,警務部長（階級不明）,悪党・重犯罪捜査班),
  富樫正義: (とがし・まさよし,刑事課第四係主任（巡査部長）,悪党・重犯罪捜査班),
  里中啓一郎: (さとなか・けいいちろう,刑事課第四係・係長（警部補）,悪党・重犯罪捜査班),
  飯沼玲子: (いいぬま・れいこ,刑事（巡査部長）,悪党・重犯罪捜査班),
  柴田安春: (しばた・やすはる,刑事（巡査部長）,悪党・重犯罪捜査班),
  山下学: (やました・がく,刑事（巡査部長）,悪党・重犯罪捜査班),
  津上譲司: (つがみ・じょうじ,刑事（巡査長）,悪党・重犯罪捜査班),
  猪原勇作: (いのはら・ゆうさく,刑事課第一係・係長（警部補）,悪党・重犯罪捜査班),
  石黒孝雄: (いしぐろ・たかお,刑事課・課長（警部）,悪党・重犯罪捜査班),
  平松亜美: (ひらまつ・あみ,交通課・警官（共に階級は巡査）,悪党・重犯罪捜査班),
  三枝由美: (さえぐさ・ゆみ,交通課・警官（共に階級は巡査）,悪党・重犯罪捜査班),
  里中理恵: (さとなか・りえ,里中の妻,悪党・重犯罪捜査班),
  富樫のぞみ: (とくなが・のぞみ,富樫の娘。富樫の妻・紀子の連れ子なので実子ではない。中学二年生。,悪党・重犯罪捜査班),
  藤井佐知代: (ふじい・さちよ,富樫の妻・紀子の母親。のぞみの祖母。身体が弱いために、富樫やのぞみと同居している。,悪党・重犯罪捜査班),
  森川明日香: (もりかわ・あすか,フリージャーナリスト,悪党・重犯罪捜査班),
  西村和也: (にしむら・かずや,玲子の年下の交際相手。実際はヒモ,悪党・重犯罪捜査班),
  氷室哲夫: (ひむろ・てつお,村雨組の幹部。柴田と顔見知り。,悪党・重犯罪捜査班),
  富樫紀子: (とくなが・のりこ,富樫正義の妻,悪党・重犯罪捜査班),
  緑川麻子: (みどりかわ・あさこ,由紀夫の婚約者・被害者,悪党・重犯罪捜査班),
  田丸由紀夫: (たまる・ゆきお,横浜城東貿易会長の長男・後継者,悪党・重犯罪捜査班),
  緑川信子: (みどりかわ・のぶこ,麻子の母親,悪党・重犯罪捜査班),
  戸田山: (とだやま,神奈川県警本部捜査一課刑事の母親,悪党・重犯罪捜査班),
  北村一平: (きたむら・いっぺい,和田の遊び仲間,悪党・重犯罪捜査班),
  杉田智和: (すぎた・ともかず,和平ミラーの声優,メタルギアソリッド),
  大塚明夫: (おおつか・あきお,スネークの声優,メタルギアソリッド),
  雷電: (らいでん,声：堀内賢雄。本名はジャック。,メタルギアソリッド),
  大佐: (たいさ,声：青野武。雷電の上官。,メタルギアソリッド),
  ソリッド・スネーク: (null,声：大塚明夫。本名はデイビッド。ファミリーネームは不明。1972年誕生。「恐るべき子供達計画」により、ビッグ・ボスのクローンとして人工的に生み出される。母親は計画に携わっていた日本人の女性科学者。そして、二人の精子と卵子を使い、代理母（サロゲート・マザー）となったのがEVA（後のビッグ・ママ）である。,メタルギアソリッド),
  ローズマリー: (null,声：井上喜久子。雷電の恋人。,メタルギアソリッド),
);

@each $word, $definition in $words {
  dfn##{$word}:before { content: attr(id); }
  dfn##{$word}:after { content: "〔#{nth($definition, 1)}〕#{nth($definition, 2)}\A"; }
  dfn.en##{$word}:after { content: "：#{nth($definition, 3)}\A"; }
  dfn.reading##{$word}:after { content: "〔#{nth($definition, 1)}〕"; }
}

@each $name, $data in $japanese-names {
  dfn##{$name}:hover:after {
    @include gold;
    content: "#{$name}〔#{nth($data, 1)}〕#{nth($data, 2)}〈#{nth($data, 3)}〉";
  }
}

dfn.full:after { content: attr(title); }
