$words: (
  援交: (えんこう,金銭の援助を伴う交際。主に未成年の女子が行う売春をいう俗語。,"compensated dating; prostitute"),
  脅す: (おどす,相手を恐れさせる。脅迫する。おどかす。,"threaten"),
  同じ: (おなじ,〜,"same"),
  強要: (きょうよう,無理に要求すること。無理やりさせようとすること。,"extortion; coercion; strong persuation"),
  この間: (このかん,〜,"during this time"),
  死ぬ: (しぬ,〜,"die"),
  周囲: (しゅうい,もののまわり。ぐるり。また、周辺。,"surroundings"),
  前係長: (ぜんかかりちょう, 前の係長, "previous chief"),
  追従: (ついじゅう,あとにつき従うこと,"complience; follow"),
  同様: (どうよう,同じであること,"same; like"),
  売春: (ばいしゅん,女性が報酬を得ることを目的として不特定の相手と性交すること。売淫。売色。売笑。,"prostitution"),
  優秀: (ゆうしゅう,非常にすぐれていること,"excellence;superiority"),
  悪い: (わるい,"１ 人の行動・性質や事物の状態などが水準より劣っているさま。\A２ 人の行動・性質や事物の状態が、正邪・当否の判断基準に達していないさま。","bad"),
);

$japanese-names: (
  徳永靖: (とくなが・やすし,横浜港町署刑事課第四係・前係長,悪党・重犯罪捜査班),
  前島隆造: (まえじま・りゅうぞう,警務部長（階級不明）,悪党・重犯罪捜査班),
  富樫正義: (とがし・まさよし,刑事課第四係主任（巡査部長）,悪党・重犯罪捜査班),
  里中啓一郎: (さとなか・けいいちろう,刑事課第四係・係長（警部補）,悪党・重犯罪捜査班),
  飯沼玲子: (いいぬま・れいこ,刑事（巡査部長）,悪党・重犯罪捜査班),
  柴田安春: (しばた・やすはる,刑事（巡査部長）,悪党・重犯罪捜査班),
  山下学: (やました・がく,刑事（巡査部長）,悪党・重犯罪捜査班),
  津上譲司: (つがみ・じょうじ,刑事（巡査長）,悪党・重犯罪捜査班),
  猪原勇作: (いのはら・ゆうさく,刑事課第一係・係長（警部補）,悪党・重犯罪捜査班),
  石黒孝雄: (いしぐろ・たかお,刑事課・課長（警部）,悪党・重犯罪捜査班),
  平松亜美: (ひらまつ・あみ,交通課・警官（共に階級は巡査）,悪党・重犯罪捜査班),
  三枝由美: (さえぐさ・ゆみ,交通課・警官（共に階級は巡査）,悪党・重犯罪捜査班),
  里中理恵: (さとなか・りえ,里中の妻,悪党・重犯罪捜査班),
  富樫のぞみ: (とくなが・のぞみ,富樫の娘。富樫の妻・紀子の連れ子なので実子ではない。中学二年生。,悪党・重犯罪捜査班),
  藤井佐知代: (ふじい・さちよ,富樫の妻・紀子の母親。のぞみの祖母。身体が弱いために、富樫やのぞみと同居している。,悪党・重犯罪捜査班),
  森川明日香: (もりかわ・あすか,フリージャーナリスト,悪党・重犯罪捜査班),
  西村和也: (にしむら・かずや,玲子の年下の交際相手。実際はヒモ,悪党・重犯罪捜査班),
  氷室哲夫: (ひむろ・てつお,村雨組の幹部。柴田と顔見知り。,悪党・重犯罪捜査班),
  富樫紀子: (とくなが・のりこ,富樫正義の妻,悪党・重犯罪捜査班),
  緑川麻子: (みどりかわ・あさこ,由紀夫の婚約者・被害者,悪党・重犯罪捜査班),
  田丸由紀夫: (たまる・ゆきお,横浜城東貿易会長の長男・後継者,悪党・重犯罪捜査班),
  緑川信子: (みどりかわ・のぶこ,麻子の母親,悪党・重犯罪捜査班),
  杉田智和: (すぎた・ともかず,和平ミラーの声優,メタルギアソリッド),
  大塚明夫: (おおつか・あきお,スネークの声優,メタルギアソリッド),
);

@each $word, $definition in $words {
  dfn##{$word}:before { content: attr(id); }
  dfn##{$word}:after { content: "〔#{nth($definition, 1)}〕#{nth($definition, 2)}\A"; }
  dfn.en##{$word}:after { content: "：#{nth($definition, 3)}\A"; }
  dfn.reading##{$word}:after { content: "〔#{nth($definition, 1)}〕"; }
}

@each $name, $data in $japanese-names {
  dfn##{$name}:hover:after {
    @include gold;
    content: "#{$name}〔#{nth($data, 1)}〕#{nth($data, 2)}〈#{nth($data, 3)}〉";
  }
}

dfn.full:after { content: attr(title); }
