// Basic Mixins
@mixin bold { font-weight: bold; }
@mixin center { text-align: center; }
@mixin code-background-color { background-color: $dark-grey; }
@mixin colon-content { content: '：'; }
@mixin inline-display { display: inline; }
@mixin left { text-align: left; }
@mixin monospace { font-family: Courier, monospace; }
@mixin no-float { float: none; }
@mixin right { text-align: right; }
@mixin scaled-margins($margin-scale) {
  margin-top: #{$margin-scale}em;
  margin-bottom: #{$margin-scale}em;
}

@mixin normal-decoration { text-decoration: none; }
@mixin underline { text-decoration: underline; }
@mixin solid-yell-top-border { border-top: 3px solid $turquoise; }
@mixin solid-yell-left-border { border-left: 3px solid $turquoise; }

// font-size
@mixin scaled-size($size-scale) { font-size: #{$size-scale}em; }
@mixin code-font-size { font-size: .6em; }
@mixin midsize-font { font-size: 1em; }
@mixin slightly-smaller-font { font-size: .85em; }
@mixin small-font { font-size: .7em; }
@mixin large-font { font-size: 1.25em; }
@mixin huge-font { font-size: 1.5em; }
@mixin tiny-font { font-size: .5em; }

// normalization mixins
@mixin normal-style {
  @include normal-decoration;
  font-style: normal;
  font-weight: normal;
}

@mixin no-margin {
  margin: 0;
}

@mixin no-margin-padding {
  @include no-margin;
  padding: 0;
}

@mixin entity-color { color: LightGreen; }

// contrast mixins
@mixin contrast1 {
  color: $yellow;
  background-color: $green;
}

@mixin contrast2 {
  color: $orange;
  background-color: $blue;
}

@mixin kbd { @include contrast2; }

@mixin contrast3 {
  color: $red;
  background-color: $yellow;
}

@mixin contrast4 {
  color: $blue;
  background-color: $cyan;
}

// combined mixins
@mixin no-style-brown {
  @include normal-style;
  color: $brown;
}

@mixin codelike {
  @include monospace;
  @include left;
  @include code-background-color;
  color: $oldlace;
}

@mixin wrap-content {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

@mixin preformatted-block {
  @include code-background-color;
  @include code-font-size;
  @include no-margin-padding;
  @include wrap-content;
}

// HTML tags
a { color: $blue; }
kbd { @include kbd; }
summary { color: $dark-golden-rod; }
time { color: $fuchsia; }
nav { @include center; }
aside,
header,
section {
  &.column { @include center; }
}

del {
  @include normal-style;
  color: $grey;
}

i {
  @include normal-style;
  color: Chartreuse;
}

input {
  @include center;
  @include scaled-size(2);
}

input#typeans {
  bottom: 0;
  height: 2em;
  left: 0;
  position: fixed;
}

sub {
  @include tiny-font;
  color: $purple;
}

u {
  @include no-style-brown;
  color: $crimson;
}

cite {
  color: $crimson;
  &:lang(ja) { @include normal-style; }
}


abbr {
  @include entity-color;
  &.cmdline::after { text-transform: none; }
  &::after {
    content: attr(id);
    text-transform: uppercase;
  }

  &:hover::after {
    color: $light-grey;
    content: attr(title);
    text-transform: capitalize;
  }
}

// paragraph tags
p {
  @include no-margin;
  &.long-question { @include center; } // 長くな質問
  &.short-question { // 短くな質問
    @include bold;
    @include underline;
    color: $dark-orange;
  }
}

// Bold tags
b,
b.alt,
b.alt2,
b.alt3 { @include normal-style; }

b { color: $yellow; }
b.alt { @include contrast2; }
b.alt2 { @include contrast3; }
b.alt3 { @include contrast4; }

// Quote tags
q { color: $khaki; }

// blockquote
blockquote {
  border-left: 3px solid $light-grey;
  color: $orange;
  margin: .5em 10px;
  padding: .2em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}

blockquote footer cite {
  color: $dark-orange;
  &::before { content: '\2009 \2014 \2009'; }
}

blockquote p {
  display: inline;

  &::before {
    color: $red;
    content: open-quote;
  }

  &::after {
    color: $red;
    content: close-quote;
  }
}

// Headers
header.column { @include center; }
h1 { @include scaled-margins(.4); }
h2 { @include scaled-margins(.3); }
h3 { @include scaled-margins(.2); }
h4 { @include scaled-margins(.1); }
h1,
h2,
h3,
h4 { @include no-style-brown; }

h6 { // used for Anki tags
  @include no-margin;
  @include normal-style;
  color: $purple;

  &::before {
    color: $light-grey;
    content: '文脈：';
  }
}

// Lists
ul,
ol { @include scaled-margins(.2); }

ul {
  list-style-type: cjk-heavenly-stem;
  padding-left: 1em;
  text-indent: -.4em;

  ul { list-style-type: cjk-earthly-branch; }
}

ol { // nested ordered list numbering
  counter-reset: item;
  list-style-type: hiragana-iroha;

  > li { counter-increment: item; }
  ol > li { display: block; }
  ol > li::before {
    content: counters(item, '.') '. ';
    margin-left: -20px;
  }
}

//
// detailed lists styling
//
dl {
  @include midsize-font;
  @include scaled-margins(.1);
  &.with-fields dt {
    @include small-font;
    color: $grey;
  }

  &.back-only { display: none; }

  &.dialogue dt {
    @include code-font-size;
    @include inline-display;
    color: $grey;
    float: right;
    text-align: right;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -ms-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }

  &.dialogue dfn { color: $grey; }

  &.dialogue dd {
    @include inline-display;
    @include no-float;
    @include no-margin-padding;

    &::after {
      content: '\a';
      white-space: pre;
    }

    &::before {
      color: $light-grey;
      content: '-';
    }
  }

  &.stack {
    dt {
      @include no-float;
      @include inline-display;
      @include no-margin-padding;

      &::after { @include colon-content; }
    }

    dd {
      @include no-float;
      @include inline-display;
      @include no-margin-padding;

      &::after {
        content: '\a';
        white-space: pre;
      }

      dt { color: $yellow; }
    }
  }

  &.compact {
    dt {
      @include no-float;
      @include inline-display;
      clear: none;
      margin-left: 1em;

      &::after { @include colon-content; }
    }

    dd {
      @include no-float;
      @include inline-display;
      margin: .2em;

      &::after { content: ''; }
    }
  }
}

div.back dl.back-only { display: block; }

// dt tags styling
dt {
  @include normal-style;
  color: $green;
}

dd { @include wrap-content; }

hl {
  @include large-font;
  color: $tomato;
}

// dfn tags
dfn {
  @include normal-style;
  @include wrap-content;
  color: LawnGreen;

  &:hover::after { color: $light-olive; }
  &::after { color: $khaki; }
  &::before {
    color: $orange;
    content: attr(word);
  }
}

// Figures
figure {
  @include no-margin;
  @include no-float;
  img { display: table; }
}

figcaption {
  @include small-font;
  position: static;
}

img { background-color: White; }
p.context-images img {
  height: auto;
  max-height: 160px;
  max-width: 160px;
  width: auto;
}

// span tags
span {
  &.reading-no { color: $green; } // 読みの数
}

// Table related tags
table {
  @include monospace;
  border-collapse: collapse;

  &.small { @include tiny-font; }
}

tr {
  &.total { @include solid-yell-top-border; }
}
th,
td {
  &.total { @include solid-yell-left-border; }
}

th {
  @include contrast3;
  @include normal-style;
  @include right;
  border: 1px solid $black;
  padding: .16em 0 0 .3em;
}

td {
  @include normal-style;
  @include center;
  border: 1px solid $yellow;
  padding: .16em .3em 0; // top, right, bottom (& left - default: right) padding
}

.td-tags {
  @include normal-decoration;
  color: $purple;
  font-size: .5em;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  &::before { content: '文脈'; }
}

caption {
  @include bold;
  color: $cyan;
}

// classes
.card {
  @include left;
  background-color: $black;
  color: $white;
  font-family: arial;
  font-size: 26px;
}

.cloze {
  background-color: $indigo;
  color: $orange;
}

.vim-help em {
  @include kbd;
  @include normal-style;
}

.a { // as in Q&A -- full name doesn't work since AnkiDroid adds clashing CSS classes
  @include large-font;
  color: $lime-green;
}

.q { // as in Q&A
  @include huge-font;
  color: $yellow;

  strong { color: $red; }
}
