@import "person-names", "words-a", "words-ka", "words-ga", "words-sa", "words-za", "words-ta", "words-da", "words-na", "words-ha", "words-ba", "words-pa", "words-ma", "words-ya";

$words: (
  浪費癖: (ろうひぐせ,金銭をむだに使うくせ,"Extravagant spending habits"),
  六十代: (ろくじゅうだい,null,"sixties"),
  悪い: (わるい,"１ 人の行動・性質や事物の状態などが水準より劣っているさま。\A２ 人の行動・性質や事物の状態が、正邪・当否の判断基準に達していないさま。","bad"),
);

// use a map of maps as lists can not contain proper maps
$wordsets: (
  a: $a,
  ka: $ka,
  ga: $ga,
  sa: $sa,
  za: $za,
  ta: $ta,
  da: $da,
  na: $na,
  ha: $ha,
  ba: $ba,
  pa: $pa,
  ma: $ma,
  ya: $ya,
  words: $words
);
@each $set-name, $set-data in $wordsets {
  @each $word, $definition in $set-data {
    dfn##{$word}:before { content: attr(id); }
    dfn##{$word}:after { content: "〔#{nth($definition, 1)}〕#{nth($definition, 2)}\A"; }
    dfn.en##{$word}:after { content: "：#{nth($definition, 3)}\A"; }
    dfn.reading##{$word}:after { content: "〔#{nth($definition, 1)}〕"; }
  }
}

$namesets: (
  person-names: $person-names
);
@each $set-name, $set-data in $namesets {
  @each $name, $data in $set-data {
    dfn##{$name}:hover:after {
      @include gold;
      content: "#{$name}〔#{nth($data, 1)}〕#{nth($data, 2)}〈#{nth($data, 3)}〉";
    }
  }
}

dfn.full:after { content: attr(title); }
