@import "person-names", "words-a", "words-ka", "words-ga", "words-sa", "words-za", "words-ta", "words-da", "words-na", "words-ha", "words-ba";

$words: (
  普洱茶: (ぷーあるちゃ,null,"pu-erh tea"),
  貧しさ: (まずしさ,財産や金銭がとぼしく、生活が苦しい；乏しい；必要量に足りない,"poverty"),
  真に受ける: (まにうける,"take seriously","take seriously"),
  見事1: (みごと,すばらしいこと,"excellent; splendid; fine; supurb; admirable"),
  見事2: (みごと,完全に,"completely; proper; real"),
  見つかる: (みつかる,null,"be found"),
  民族: (みんぞく,言語・人種・文化・歴史的運命を共有し、同族意識によって結ばれた人々の集団,"nationality"),
  息子: (むすこ,null,null),
  申し訳: (もうしわけ,null,null),
  悠久: (ゆうきゅう,永遠,"eternity"),
  優秀: (ゆうしゅう,非常にすぐれていること,"excellence;superiority"),
  故に: (ゆえに,null,null),
  油断: (ゆだん,不注意である；警戒を怠る,"be careless, be off (one)'s guard, negligence"),
  要請: (ようせい,必要だとして、強く願い求めること。「会長就任をーする」,"request"),
  要素: (ようそ,あるものごとを成り立たせている基本的な内容や条件。成分。要因。,"elements"),
  様に1: (ように,〜に似て，同様に,"similar to; (light) as (a feather); likewise"),
  様に2: (ように,〜の通りに,"(I did) as (told)"),
  様に3: (ように,〜するために,"in order to; for the sake of; so that; as"),
  ような : (null,例示して,null),
  浪費癖: (ろうひぐせ,金銭をむだに使うくせ,"Extravagant spending habits"),
  六十代: (ろくじゅうだい,null,"sixties"),
  悪い: (わるい,"１ 人の行動・性質や事物の状態などが水準より劣っているさま。\A２ 人の行動・性質や事物の状態が、正邪・当否の判断基準に達していないさま。","bad"),
);

// use a map of maps as lists can not contain proper maps
$wordsets: (
  a: $a,
  ka: $ka,
  ga: $ga,
  sa: $sa,
  za: $za,
  ta: $ta,
  da: $da,
  na: $na,
  ha: $ha,
  ba: $ba,
  words: $words
);
@each $set-name, $set-data in $wordsets {
  @each $word, $definition in $set-data {
    dfn##{$word}:before { content: attr(id); }
    dfn##{$word}:after { content: "〔#{nth($definition, 1)}〕#{nth($definition, 2)}\A"; }
    dfn.en##{$word}:after { content: "：#{nth($definition, 3)}\A"; }
    dfn.reading##{$word}:after { content: "〔#{nth($definition, 1)}〕"; }
  }
}

$namesets: (
  person-names: $person-names
);
@each $set-name, $set-data in $namesets {
  @each $name, $data in $set-data {
    dfn##{$name}:hover:after {
      @include gold;
      content: "#{$name}〔#{nth($data, 1)}〕#{nth($data, 2)}〈#{nth($data, 3)}〉";
    }
  }
}

dfn.full:after { content: attr(title); }
