@import "person-names", "words-a", "words-ka", "words-ga", "words-sa", "words-za", "words-ta";

$words: (
  抱く: (だく,持つ,null),
  脱出: (だっしゅつ,危険な場所や好ましくない状態から抜け出すこと。,"an escape"),
  同様: (どうよう,同じであること,"same; like"),
  読書: (どくしょ,本を読むこと。,"reading"),
  内閣: (ないかく,カビネット,"cabinet"),
  半ば1: (なかば,壱：半分,"half"),
  半ば2: (なかば,弐：ある程度,"partly; in part; half; nearly"),
  半ば3: (なかば,参：真ん中あたり,"mid-;halfway"),
  ながら: (null,二つの動作・状態が並行して行われる意を表す。「ラジオを聞き―勉強する」,"as, while, although"),
  生茶: (なまちゃ,null,"raw tea"),
  抜く12: (ぬく,攻め落とす。,"take out; take down"),
  〜ほか: (null,に添えて,"in addition"),
  任務: (にんむ,ミッション,"mission; task"),
  によって: (null,〜に応じて,"depending on (school year), (sales) (changes)"),
  妬む: (ねたむ,他人が自分よりすぐれている状態をうらやましく思って憎む。ねたましく思う。そねむ。,"to be jealous/envious"),
  熱心: (ねっしん,ある物事に深く心を打ち込むこと。,"eagerness; enthusiasm; 〜な eager (about)/ enthusiastic (about); 〜に enthusiastically/ eagerly/ zealously;"),
  狙い: (ねらい,弓や鉄砲などで、目標に当てようとねらうこと。,"aim"),
  年度: (ねんど,暦年とは別に、事務などの便宜のために区分した1年の期間。,"year; school year"),
  野垂れ死にする: (のたれしにする,"die a dog's death","die a dog's death"),
  発見: (はっけん,見付かれ,"discovery"),
  引き離す: (ひきはなす,分ける・引っ張って離す。無理に離れさせる,"pull from (someone or something)"),
  被疑者: (ひぎしゃ,犯罪の嫌疑を受けて捜査の対象となっているが、起訴されていない者, "suspect"),
  表彰: (ひょうしょう,善行・功績などを人々の前に明らかにし、ほめたたえること。,"commendation; 表彰する：to award"),
  披露: (ひろう,手紙・文書などを開いて人に見せること。広く人に知らせること,"showcase, exhibition"),
  不正: (ふせい,正しくないこと。正義に反する。道義に反する。法律に反する。,"injustice; unjust; dishonest; unlawful; illegal"),
  普通: (ふつう,特に変わっていないこと。；通常,"usual; common"),
  不当: (ふとう,正当・適当でないこと,null),
  弊害: (へいがい,害になること。他に悪い影響を与える物事,null),
  変化: (へんか,変わり,"change"),
  放課後: (ほうかご,学校でその日の授業が終わったあと,"after school"),
  報告: (ほうこく,告げ知らせること。レポート。情報。,"report"),
  報酬: (ほうしゅう,労務または物の使用の対価として給付される金銭・物品など。報奨。給料。医師・弁護士などの,"reward; pay; compensation; (doctor or lawyer) fee"),
  方針: (ほうしん,方向；方策；計画；方位を示す磁石の針。磁針。,"course; policy; plan"),
  放題: (ほうだい,常軌を逸していること。自由勝手にふるまうこと。,"without reserve; as much as one likes; all-you-can-..."),
  捕捉: (ほそく,キャプチャー・つかむこと, "capture, seizure"),
  本部: (ほんぶ,null,"HQ"),
  売春: (ばいしゅん,女性が報酬を得ることを目的として不特定の相手と性交すること。売淫。売色。売笑。,"prostitution"),
  分権: (ぶんけん,権力を1か所に集中しないで、分散すること。「地方ー」反：集権。,"splitting"),
  文明: (ぶんめい,人知が進んで世の中が開け、精神的、物質的に生活が豊かになった状態。特に、宗教・道徳・学問・芸術などの精神的な文化に対して、技術・機械の発達や社会制度の整備などによる経済的・物質的文化をさす。；シビリゼーション,"civilization"),
  暴力: (ぼうりょく,null,null),
  暴力的: (ぼうりょくてき,null,null),
  普洱茶: (ぷーあるちゃ,null,"pu-erh tea"),
  貧しさ: (まずしさ,財産や金銭がとぼしく、生活が苦しい；乏しい；必要量に足りない,"poverty"),
  真に受ける: (まにうける,"take seriously","take seriously"),
  見事1: (みごと,すばらしいこと,"excellent; splendid; fine; supurb; admirable"),
  見事2: (みごと,完全に,"completely; proper; real"),
  見つかる: (みつかる,null,"be found"),
  民族: (みんぞく,言語・人種・文化・歴史的運命を共有し、同族意識によって結ばれた人々の集団,"nationality"),
  息子: (むすこ,null,null),
  申し訳: (もうしわけ,null,null),
  悠久: (ゆうきゅう,永遠,"eternity"),
  優秀: (ゆうしゅう,非常にすぐれていること,"excellence;superiority"),
  故に: (ゆえに,null,null),
  油断: (ゆだん,不注意である；警戒を怠る,"be careless, be off (one)'s guard, negligence"),
  要請: (ようせい,必要だとして、強く願い求めること。「会長就任をーする」,"request"),
  要素: (ようそ,あるものごとを成り立たせている基本的な内容や条件。成分。要因。,"elements"),
  様に1: (ように,〜に似て，同様に,"similar to; (light) as (a feather); likewise"),
  様に2: (ように,〜の通りに,"(I did) as (told)"),
  様に3: (ように,〜するために,"in order to; for the sake of; so that; as"),
  ような : (null,例示して,null),
  浪費癖: (ろうひぐせ,金銭をむだに使うくせ,"Extravagant spending habits"),
  六十代: (ろくじゅうだい,null,"sixties"),
  悪い: (わるい,"１ 人の行動・性質や事物の状態などが水準より劣っているさま。\A２ 人の行動・性質や事物の状態が、正邪・当否の判断基準に達していないさま。","bad"),
);

// use a map of maps as lists can not contain proper maps
$wordsets: (
  a: $a,
  ka: $ka,
  ga: $ga,
  sa: $sa,
  za: $za,
  ta: $ta,
  words: $words
);
@each $set-name, $set-data in $wordsets {
  @each $word, $definition in $set-data {
    dfn##{$word}:before { content: attr(id); }
    dfn##{$word}:after { content: "〔#{nth($definition, 1)}〕#{nth($definition, 2)}\A"; }
    dfn.en##{$word}:after { content: "：#{nth($definition, 3)}\A"; }
    dfn.reading##{$word}:after { content: "〔#{nth($definition, 1)}〕"; }
  }
}

$namesets: (
  person-names: $person-names
);
@each $set-name, $set-data in $namesets {
  @each $name, $data in $set-data {
    dfn##{$name}:hover:after {
      @include gold;
      content: "#{$name}〔#{nth($data, 1)}〕#{nth($data, 2)}〈#{nth($data, 3)}〉";
    }
  }
}

dfn.full:after { content: attr(title); }
